body {
	padding: 0; margin: 0;
/*	font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	line-height: 24px;
} 

canvas {
	vertical-align: top;
}

div {
  width: 690px;
}

.regular {
	text-shadow: none;
	color: black;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

